<%= simple_form_for(meal) do |f| %>
  <% if meal.errors.any? %>
    <div>
      <h2><%= pluralize(meal.errors.count, "error") %> prevented this meal from being saved:</h2>
      <ul>
        <% meal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :ingredients, as: :text %>
  <%= f.input :category, collection: ['Starter', 'Main Course', 'Dessert', 'Snack'], prompt: 'Select a category' %>
  <%= f.input :cuisine, collection: ['Italian', 'Chinese', 'Mexican', 'Indian', 'Greek'], prompt: 'Select a cuisine' %>

  <%= f.button :submit %>
<% end %>
